header, main {
  width: 90%;
  margin: auto;
}
header h1, header h2, main h1, main h2 {
  text-align: center;
}

main span {
  color: red;
}
main .vlastnostiMetody, main .emaily {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .vlastnostiMetody ul, main .emaily ul {
  margin-top: -20px;
}
main .vlastnostiMetody .vstupniHodnoty, main .emaily .vstupniHodnoty {
  display: flex;
  justify-content: center;
  width: 1200px;
}
main .vlastnostiMetody .vstupniHodnoty span, main .emaily .vstupniHodnoty span {
  width: 250px;
  display: flex;
  justify-content: center;
}
main .vlastnostiMetody .vstupniHodnoty .vstup, main .emaily .vstupniHodnoty .vstup {
  width: 800px;
  margin-right: -100px;
}
main .vlastnostiMetody .vstupniHodnoty .vstup input, main .emaily .vstupniHodnoty .vstup input {
  border: solid 1px lightgray;
  border-radius: 10px;
  width: 400px;
}
main .vlastnostiMetody .vstupniHodnoty .vstup input:focus, main .emaily .vstupniHodnoty .vstup input:focus {
  outline: none;
}
main .vlastnostiMetody .vstupniHodnoty button, main .emaily .vstupniHodnoty button {
  width: 220px !important;
  text-align: center !important;
}
main .emaily pre {
  margin-bottom: -50px;
}
main .emaily .vstupniHodnoty {
  width: 1200px;
}
main .emaily .vstupniHodnoty span {
  width: 250px;
  display: flex;
  justify-content: center;
}
main .emaily .vstupniHodnoty .vstup {
  width: 800px;
  margin-right: -100px;
}
main .emaily .vstupniHodnoty button {
  width: 220px;
  text-align: center;
}
main .tabulka:nth-of-type(odd) {
  width: 1000px;
}
